#mainWrap{
    max-width: 50%;
    height: 100%;
    width: 50%;
    margin: 0 auto;
    padding:  20px;
    color: #FFF;
   background:#4267B2;
  }
  #title{
  	text-align: center;

  }
  #description{
  	text-align: center;

  }
 #survey-form{
  	
  	padding: 20px 0px 20px 20px;
	border-radius: 0.25rem;
  }
  #name-label{
	display: flex;
	align-items: center;
	font-size: 1.125rem;
	margin-bottom: 0.5rem;


  }

 .form-control{
 	display: block;
	width: 80%;
	height: 2.375rem;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
 }